
  <h1>Add a new item to @Model.VName</h1>
    <form action="/vendors/@Model.Id/orders" method="post">
      <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
      <label for="orderName">Order Item</label>
      <input id="orderName" name="orderName" type="text">
      <label for="orderDescription">Order description</label>
      <input id="orderDescription" name="orderDescription" type="text">
      <button type="submit">Submit</button>
    </form>
