
  <p> The order item is : @Model["order"].OrName </p>
  <p>This order belongs to Vendor : @Model["vendor"].VName

  <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another item</a>
  <a href='/vendors'>View all Vendors</a>
